* {box-sizing: border-box;}
html {
	font-size: 16px;
	font-family: 'Varela Round', Helvetica, Arial, sans-serif;
	text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	word-wrap: break-word;
	position: relative;
	padding: 0;
	margin: 0;
	background-color: #f3f3f3;
	background-image: url('./img/background/360x640.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	overflow: hidden;
}
body {
	padding: 0;
	margin: 0;
	background: none;
	height: 100%;
	overflow: hidden;
}
#app {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

/* Forms and inputs */
input[type="text"], input[type="number"], input[type="tel"], input[type="email"], input[type="password"], textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input[type="text"], input[type="number"], input[type="tel"], input[type="file"], input[type="email"], input[type="password"], select, textarea {
	display: block;
	width: 100%;
	font-size: 1.1rem;
	font-family: 'Arial', sans-serif;
	padding: .4rem .6rem;
	border-radius: 0;
    border: 1px solid #7f7f7f;
	background-color: white;
	box-shadow: none;
}
input[type="file"] {font-size: 1em;}
select {white-space: nowrap;}
input[type="text"]::placeholder, input[type="number"]::placeholder, input[type="tel"]::placeholder, input[type="email"]::placeholder, input[type="password"]::placeholder, textarea::placeholder {
	font-size: .8rem;
	color: #999999;
	opacity: 1;
}

.button {
	display: inline-block;
	font-size: 1em;
	font-family: inherit;
	text-decoration: none;
	border: none;
	border-radius: 0;
	padding: .6em 1em;
	margin: .2em 0;
	text-align: center;
	vertical-align: middle;
	box-shadow: none;
	background-color: #71c837e0;
	background-size: 100%;
	transition: background-color 600ms, transform 400ms, opacity 400ms !important;
	overflow: hidden;
	cursor: pointer;
	&:hover {
		background-color: darken(#71c837e0, 10%);
	}
	&:active {
		background-color: darken(#71c837e0, 20%);
		transform: scale(.92);
		transition: none !important;
	}
	&[disabled] {
		opacity: .5;
		pointer-events: none;
	}
}
.button-set {
	display: flex;
	flex-wrap: wrap;
	gap: .2em;
	.button {
		flex: 1 0 calc(50% - .2em);
	}
}

label {
	display: block;
	font-size: .9em;
}

/* Responsive background image */
@media (min-width: 360px) {
	html {background-image: url('./img/background/540x960.jpg');}
}
@media (min-width: 540px) and (orientation: portrait) {
	html {background-image: url('./img/background/720x1280.jpg');}
}
@media (min-width: 540px) and (orientation: landscape) {
	html {background-image: url('./img/background/720x480.jpg');}
}
@media (min-width: 720px) {
	html {background-image: url('./img/background/1024x1821.jpg');}
}
@media (min-width: 1024px) {
	html {background-image: url('./img/background/1280x853.jpg');}
}
@media (min-width: 1280px) {
	html {background-image: url('./img/background/1920x1280.jpg');}
}
@media (min-width: 1920px) {
	html {background-image: url('./img/background/2560x1707.jpg');}
}
@media (min-width: 2560px) {
	html {background-image: url('./img/background/3840x2560.jpg');}
}

/* Error pages */
.error-page {
	z-index: 2000;
	display: flex;
	align-items: center;
	justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
	.error-card {
		width: 80%;
		max-width: 480px;
		margin: 2rem auto;
		padding: 2rem;
		text-align: center;
		background-color: #ffffffe0;
		backdrop-filter: blur(3px);
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		p {
			margin: 0;
		}
		.error-icon {
			display: block;
			width: 30%;
			height: auto;
			margin: 2rem auto;
		}
	}
}